body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

main {
  width: 100%;
  background: rgb(235, 235, 235);
  padding: 1rem;
  border-radius: 10px;
}

.app {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.button-container {
  min-height: 50px;
}

.color-inputs {
  display: flex;
  justify-content: space-between;
}

.range-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
